header {
    background: linear-gradient(to top, #000000, rgba(58, 191, 188, 0) 70%), url('https://marketing.create-cdn.net/assets/terms.jpg') center/cover no-repeat;
    background-attachment: fixed;
    position: relative;
}

#intro {
    position: relative;
    padding: 40px 120px;
    background-color: #fff;
    padding-bottom: 20px;
}

#content{
    margin: 10px 100px ;
    padding-bottom: 200px;
}
#content p{
    padding: 5px;
}